## github.com/reuven -- look for the Xilinx repository

In [2]:
def mysum(numbers):
    total = 0
    for one_number in numbers:
        total += one_number
    return total

In [3]:
mysum([10, 20, 30])

60

In [4]:
def mysum(*numbers):
    total = 0
    for one_number in numbers:
        total += one_number
    return total

mysum(10, 20, 30)

60

In [5]:
mysum.__code__.co_argcount

0

In [6]:
mysum.__code__.co_flags

71

In [7]:
def mysum(numbers):
    total = 0
    for one_number in numbers:
        total += one_number
    return total

mysum.__code__.co_flags

67

In [8]:
mysum.__code__.co_flags = 71

AttributeError: readonly attribute

In [9]:
def add(a, b):
    return a + b

def foo():
    return "I'm in foo!"

In [10]:
foo.__code__ = add.__code__

In [11]:
# this is a function brain trainsplant!

In [12]:
foo()

TypeError: add() missing 2 required positional arguments: 'a' and 'b'

In [13]:
foo(10, 1)

11

In [24]:
import sys

def mysum(numbers):
    total = 0
    for one_number in numbers:
        total += one_number
    return total, sys._getframe()

In [25]:
total, myframe = mysum([10, 20, 30])

In [28]:
fi = inspect.getframeinfo(myframe)

In [29]:
dir(fi)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__module__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__slots__',
 '__str__',
 '__subclasshook__',
 '_asdict',
 '_field_defaults',
 '_fields',
 '_fields_defaults',
 '_make',
 '_replace',
 'code_context',
 'count',
 'filename',
 'function',
 'index',
 'lineno']

In [31]:
fi.code_context

['    return total, sys._getframe()\n']

In [33]:
# nested function 
def foo():
    def bar():
        return 'I am in bar!'
    return bar

In [35]:
foo()()

'I am in bar!'

In [36]:
b = foo()

In [37]:
type(b)

function

In [38]:
b()

'I am in bar!'

In [39]:
b1 = foo()
b2 = foo()
b3 = foo()

In [40]:
b1()

'I am in bar!'

In [41]:
b2()

'I am in bar!'

In [42]:
b3()

'I am in bar!'

In [43]:
b1 is b2

False

In [44]:
b2 is b3

False

In [45]:
b1 is b3

False

In [46]:
b1.__code__ == b2.__code__

True

In [47]:
def foo(x):
    def bar(y):
        return  f"I am in bar, x = {x} and y = {y}"
    return bar

In [48]:
b1 = foo(10)
b2 = foo(20)

In [49]:
b1(2)

'I am in bar, x = 10 and y = 2'

In [50]:
b2(2)

'I am in bar, x = 20 and y = 2'

In [54]:
def foo():
    asdasfasfasfasfasfa
     asdfafafasa

IndentationError: unexpected indent (<ipython-input-54-33a8b6bb058d>, line 3)

In [52]:
foo()

NameError: name 'asdasfasfasfasfasfa' is not defined

In [61]:
import time

def time_run():
    last_ran_at = time.time()
    
    def add(a, b):
        nonlocal last_ran_at   
        
        current_time = time.time()
        time_since_last_run = current_time - last_ran_at
        last_ran_at = current_time

        return a + b, time_since_last_run
    return add

add_with_timing = time_run()

In [56]:
type(add_with_timing)

function

In [57]:
add_with_timing.__name__

'add'

In [62]:
add_with_timing(2, 3)

(5, 3.3834187984466553)

In [63]:
add_with_timing(2, 3)

(5, 6.4673662185668945)

In [64]:
add_with_timing(2, 3)

(5, 9.84149980545044)

In [65]:
s = 'abcd'
mylist = [10, 20, 30, 40]
t = (100, 200, 300, 400)

In [66]:
def nth(sequence, n):
    return sequence[n]

nth(s, 2)

'c'

In [67]:
nth(mylist, 2)

30

In [68]:
nth(t, 2)

300

In [69]:
def nth(n):
    def return_n(s):
        return s[n]
    return return_n

first = nth(0)
second = nth(1)
third = nth(2)

print(first(s))
print(second(mylist))
print(third(t))

a
20
300

In [70]:
import operator

In [72]:
first = operator.itemgetter(0)
second = operator.itemgetter(1)
third = operator.itemgetter(2)
first_and_third = operator.itemgetter(0, 2)

print(first(s))
print(second(mylist))
print(third(t))
print(first_and_third(s))

a
20
300
('a', 'c')

In [73]:
operator.itemgetter??

In [74]:
d1 = {'a':1, 'b':2, 'c':3}
d2 = {'a':100, 'b':200, 'c':300}

a_and_c = operator.itemgetter('a', 'c')
a_and_c(d1)

(1, 3)

In [75]:
a_and_c(d2)

(100, 300)

In [79]:
myslice = slice(0, 3, 2)
first_and_third = operator.itemgetter(myslice)

In [80]:
first_and_third(s)

'ac'

In [81]:
# (1) comprehensions -- list, dict, and set 
# (2) passing functions as arguments
# (3) lambda, map, filter, and reduce

In [82]:
numbers = range(10)

output = []
for one_number in numbers:
    output.append(one_number * one_number)
    
output

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [84]:
# list comprehension
[one_number * one_number     # SELECT
 for one_number in numbers]  # FROM

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]